* {
    box-sizing: border-box;
}

.bun-g {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lil-1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

#debug {
    position: absolute;
    top: 0;
    right: 0;

    margin: 5px;
}

.wrapper-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 15px;
    border: none;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.3);
}

.wrapper-generic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#home-title {
    margin: 0px;
    margin-bottom: 10px;

    font-size: 35px;
    text-align: center;
}

.wrapper-bg {
    max-width: 250px;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;

    background-color: lightgray;
}

#game-options {
    margin-right: 10px;
}

#start {
    padding: 10px 70px;
    border: none;
    border-bottom: 5px solid red;
    border-radius: 10px;

    color: whitesmoke;
    background-color: lightcoral;

    font-size: 20px;

    cursor: pointer;
    transition-duration: 0.2s;
}

#start:hover {
    margin-top: 5px;
    border-bottom: none;
}

#home-news {
    width: 200px;
}

.pagebreak {
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0px;
    padding: 0px 10px;

    background-color: black;
}

#news-title {
    margin: 10px 0px;

    text-align: center;
    font-size: 18px;
}

#news-header {
    margin: 0px;

    font-size: 18px;
}

#news-teaser {

    font-size: 14px;
}